h1, h2 {
    margin-top: 10px;
    font-size: 38px;
    font-weight: 300;
    color: #555;
}

.backstretch {
    -moz-filter: blur(5px);
    -webkit-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.inner-bg {
    padding: 50px 0 80px 0;
}

.left-corner {
    align-content: left;
}

.larger-text-meng {
    font-size: 20px;
}

.xlarger-text-meng {
    font-size: 24px;
}

.right-corner {
    text-align: right;
}

h3 {
    font-size: 32px;
    font-weight: 300;
    color: #555;
}

@media (max-width: 767px) {
    .inner-bg {
        padding: 60px 0 110px 0;
    }
}

.form-top-right {
    float: right;
    width: 25%;
    padding-top: 5px;
    font-size: 50px;
    color: #ddd;
    line-height: 100px;
    text-align: right;
}

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', Georgia, sans-serif, "FangSong", "Microsoft YaHei", "微软雅黑", STXihei, "华文细黑", serif;
}

.container-fluid {
    min-height: 100%;
    position: relative;
}

.footer-meng {
    position: fixed;
    bottom: 0;
    padding: 0 4% 2% 4%;
    width: 100%;
}

.main-meng {
    padding: 4% 3% 0 5%;
    width: 100%;
}

.header-meng {
    padding: 1% 1% 0 1%;
    width: 100%;
    color: #FFFFFF;
    font-size: 16px;
}

.panel-button {
    padding: 0 0 0 10%;
    text-align: left;
}

.main-ps {
    padding: 0 0 0 10%;
    text-align: left;
}

.fill-it-up {
    text-align: center;
}

.fill-it-devide {
    word-spacing: 10px;
}

.well {
    background-color: #CCCCCC;
    border-color: #CC99CC;
}


/*.button{
  width: auto;
}*/
