<!DOCTYPE html>
<html>

<head>
    <title>LLF DEV</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../lib/buttons.css">
    <link rel="stylesheet" href="../style/goo.fonts">
    <link rel="stylesheet" href="../style/dev.css">
    <link rel="shortcut icon" href="../style/ico/icon.png">
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../style/form-elements.css">
</head>

<body>
    <div class="container-fluid">
        <div class="row clearfix header-meng" id="title">
            <div class="col-md-6 column left-corner" v-html="left">
            </div>
            <div class="col-md-6 column right-corner">
                Hello, <strong>{{right}}</strong> <a type="button" v-on:click="logout">Log out</a>
            </div>
        </div>
        <div class="row clearfix main-meng">
            <div class="col-md-1 column well" id="players">
                <div class="main-ps">
                    <i class="fa fa-id-badge"></i>
                    <strong> {{ingamedisplay}}</strong>
                    <hr>
                    <p v-for="player in ingamelist">
                        - {{player[0]}}
                    </p>
                    <hr>
                    <i class="fa fa-telegram"></i>
                    <strong> {{waitdisplay}}</strong>
                    <hr>
                    <p v-for="player in waitinglist">
                        - {{player[0]}}
                    </p>
                </div>
                <!-- //test passed -->
                <!-- <button v-on:click="update">T</button> -->
            </div>
            <div class="col-md-9 column">
                <div class="col-md-3 column" id="opponentl">
                    <div class="well larger-text-meng">
                        <div v-html="display">
                            <!-- {{display}} -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 column well fill-it-up" id="pool">
                    <div class="col-md-12 column xlarger-text-meng" v-html="current">
                        <!-- {{current}} -->
                    </div>
                    <div class="col-md-12 column">
                        <img v-bind:src="card1">
                        <img v-bind:src="card2">
                        <img v-bind:src="card3">
                        <img v-bind:src="card4">
                        <img v-bind:src="card5">
                    </div>
                </div>
                <div class="col-md-3 column" id="opponentr">
                    <div class="well larger-text-meng">
                        <i class="fa fa-ambulance fa-3x fa-rotate-180"></i><br> We only support<br>
                        <i class="fa fa-user fa-rotate-180"></i><strong>1 opponent</strong><br> in current Version
                    </div>
                </div>
            </div>
            <div class="col-md-2 column well" id="panel">
                <strong>My Account</strong>
                <hr> Account Chips Balance: <br><i class="fa fa-money"></i> <strong>{{chips}}</strong>
                <hr>
                <strong>Actions</strong>
                <hr>
                <a class="panel-button button button-border button-block" type="button" v-on:click="ones" v-html="one"></a>
                <a class="panel-button button button-border button-block" type="button" v-on:click="twos" v-html="two"></a>
                <a class="panel-button button button-border button-block" type="button" v-on:click="threes" v-html="three"></a>
                <a class="panel-button button button-border button-block" type="button" v-on:click="fours" v-html="four"></a>
                <a class="panel-button button button-border button-block" type="button" v-on:click="fives" v-html="five"></a>
            </div>
        </div>
        <div class="row clearfix footer-meng">
            <div class="col-md-4 column">
                <div class="left-corner well fill-it-up fill-it-devide" id="main">
                    <img v-bind:src="cardone">
                    <img v-bind:src="cardtwo">
                </div>
            </div>
            <div class="col-md-8 column">
                <div class="right-corner well" id="foot">
                    <h2>
                    Chips:&nbsp;<i class="fa fa-money"></i>&nbsp;<strong>{{chips}}</strong>
                  </h2>
                    <h3>
                      {{users}}
                  </h3>
                    <img src="../style/ico/icon.png" width="42px">
                    <div class="btn-group dropup">
                        <a type="button" class="button button-action dropdown-toggle" data-toggle="dropdown">{{actions[0]}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a v-on:click="test">{{amounts[0]}}</a></li>
                            <li><a v-on:click="test">{{amounts[1]}}</a></li>
                            <li><a v-on:click="test">{{amounts[2]}}</a></li>
                            <li class="divider"></li>
                            <li><a v-on:click="test">{{allin}}</a></li>
                            <li class="divider"></li>
                            <li><a v-on:click="test">{{allin}}</a></li>
                        </ul>
                    </div>
                    <div class="btn-group dropup">
                        <a type="button" class="button button-royal dropdown-toggle" data-toggle="dropdown">{{actions[1]}}
                        </a>
                        <ul class="dropdown-menu">
                            <li><a v-on:click="test">{{amounts[0]}}</a></li>
                            <li><a v-on:click="test">{{amounts[1]}}</a></li>
                            <li><a v-on:click="test">{{amounts[2]}}</a></li>
                            <li class="divider"></li>
                            <li><a v-on:click="test">{{allin}}</a></li>
                            <li class="divider"></li>
                            <li><a v-on:click="test">{{allin}}</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <a type="button" class="button button-caution">{{actions[2]}}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="../lib/jquery.min.js"></script>
<script src="../lib/poker.min.js"></script>
<script src="../lib/socket.io.js"></script>
<script src="../lib/vue.js"></script>
<script src="../lib/layer.js"></script>
<script src="../lib/jquery.backstretch.min.js"></script>
<script src="../lib/bootstrap.min.js"></script>
<script src="../src/llfdev.js"></script>
<script src="../src/gamestyle.js"></script>
<!-- socket support -->
<script src="../src/connect.js"></script>

</html>
